.slot-container {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .reel {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid #000;
    margin: 0 10px;
    font-size: 2em;
  }
  
  .spinning {
    animation: spin 0.5s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .vsyo {
    text-align: center;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 20px;
  }